@page "/"
@inherits StateComponent<AppState>
@layout MainLayout

<div id="header">
    <div class="title">Customers</div>
    <div class="actions">
        <RoundedButton OnClick="@Refresh" Title="Refresh" Icon="refresh" />
        <RoundedButton OnClick="@ShowDialog" Title="Add customer" Icon="add" Color="red" />
    </div>
</div>

@if (showAddDialog)
{
    <AddCustomer />
}

<CustomersTable Items="@items" IsFetching="@isFetching" OnRemove="@Remove" />

@code {
    bool showAddDialog; 
    bool isFetching;
    IReadOnlyList<CustomerListItem> items;
    
    protected override void OnInitialized()
    {
        UseState(state => items = state.Customers.Items);
        UseState(state => showAddDialog = state.Customers.ShowAddDialog);
        UseState(state => isFetching = state.Customers.IsFetching);
    }

    void ShowDialog() => Put(new CustomersActions.AddDialog.Show());
    void Refresh() => Put(new CustomersActions.FetchItems());
    void Remove(string id) => Put(new CustomersActions.Remove(id));
}